{% extends 'base.html.twig' %}

{% block body %}
<div class="row">

    <div class="panel-white span9">
    <h4>Catégorie</h4>

    <table class="table table-bordered table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorie.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ categorie.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ categorie.description }}</td>
            </tr>
        </tbody>
    </table>
</div>



    <nav class="navbar navbar-inverse span2 well"> <a href="{{ path('categorie_index') }}" class="btn btn-info btn-block" >Retour</a><br>
        <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}" class="btn btn-info btn-block">Modifier</a>
        {{ form_start(delete_form) }}
        <input type="submit" value="Supprimer" class="btn btn-danger btn-block">
        {{ form_end(delete_form) }}
    </nav>
    </div>
{% endblock %}
