{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="span12">
      <div class="row">
        <div class="span4 panel-white">
          <h4>{{ produit.titre }}</h4>
          <span>{% if produit.date %}{{ produit.date|date('Y-m-d') }}{% endif %}</span>

          <!--carousel-->
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active"> <img src="{{ produit.vignette }}" alt="...">
                <div class="carousel-caption"> {{ produit.titre }} </div>
              </div>
              {% for image in produit.images %}
    <div class="item"> <img src="{{ image.path }}" alt="{{ image.titre }}">
        <div class="carousel-caption"> {{ image.description }} </div>
    </div>
{% endfor %} </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"> <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> <span class="sr-only"> < </span> </a> <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"> <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> <span class="sr-only"> > </span> </a> </div>
          <!--fin carousel-->
        </div>
       <div class="panel-body span4 panel-white">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#home" data-toggle="tab" aria-expanded="true">Description</a> </li>
    <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Prix / Poids</a> </li>
    <li class=""><a href="#messages" data-toggle="tab" aria-expanded="false">Categories</a> </li>
    <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Tags</a> </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade active in" id="home">
      <h4>Description</h4>
      <p>{{ produit.description }}</p>
    </div>
    <div class="tab-pane fade" id="profile">
      <h4>Prix</h4>
      <p>{{ produit.prix }} euro<br>
      <h4>Poids</h4>
      {{ produit.poids }} g
      </p>
    </div>
    <div class="tab-pane fade" id="messages">
      <h4>Categories</h4>
      <p><ul>
            {% for categorie in produit.categories %}
    <li>{{ categorie }}</li>
{% endfor %}
          </ul></p>
    </div>
    <div class="tab-pane fade" id="settings">
      <h4>Tags</h4>
      <p><ul>
            {% for tag in produit.tags %}
    <li>{{ tag }}</li>
{% endfor %}
          </ul></p>
    </div>
  </div>
</div>

        <nav class="navbar navbar-inverse span2 well"> <a href="{{ path('ecommerce_homepage') }}" class="btn btn-info btn-block" >Retour</a><br>
          </nav>
      </div>
    </div>
  </div>
</div>
</div>


{% endblock %}
